.fr-color-picker {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #666;
}

.fr-color-picker .rc-color-picker-trigger {
  margin-right: 12px;
  height: 32px;
  width: 60px;
  border: 1px solid #e5e5e5;
}

.fr-color-picker > p {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
}

.fr-color-picker .rc-color-picker-wrap {
  display: flex;
}