.fr-search {
  width: 100%;
  background: #fff;
  padding: 24px 24px 0;
  margin-bottom: 16px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  .search-action-col {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 24px;
  }

  .search-action-fixed {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding-right: 24px !important;
  }

  
  .fr-field .ant-form-item-control {
    width: 0;
  }
}