{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "css"
      },
      "ant"
    ],
    [
      "import",
      {
        "libraryName": "@alifd/next",
        "style": true
      }
    ],
    "transform-decorators-legacy"
  ]
}
