# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist
/lib
/docs-dist
# misc
.idea
.DS_Store
.idea

# umi
.umi
.umi-production
.umi-test
.env.local

# custom
old-doc
test.json