# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json


# production
/dist
/lib
/docs-dist
# misc
.idea
.DS_Store
.idea
.vscode

# umi
.umi
.umi-production
.umi-test
.env.local

# lerna

/packages/*/es
/packages/*/lib
/packages/*/node_modules
/packages/*/.local
/packages/*/dist
/packages/**/node_modules
/.local

/widgets/*/es
/widgets/*/lib
/widgets/*/node_modules
/widgets/*/.local
/widgets/*/dist
/widgets/**/node_modules

# custom
old-doc
test.json
/docs/guide/.test