.fr-generator-container .right-layout {
  flex-shrink: 0;
  width: 8rem;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 60em) {
  .fr-generator-container .right-layout {
    width: 16rem;
  }
}
