/*
  用于原有样式的覆盖
 */

.fr-set {
  padding: 12px 12px 0;
  margin-bottom: 12px;
  border-radius: 4px;
}

.fr-field {
  margin-bottom: 24px;
}

.fr-field-object {
  margin-bottom: 0;
}

.fr-label {
  display: block;
}

.fr-label-title {
  display: inline-flex;
  color: #333;
  font-size: 14px;
  min-height: 22px; /* ""的标签页占位 */
  line-height: 22px;
}

.fr-label-required {
  margin: 1px 4px 0 0;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
}

.fr-label-title::after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 10px 0 2px;
}

.fr-label-title.no-colon::after {
  content: '';
  margin: 0;
}

.fr-label-object .fr-label-title {
  font-size: 16px;
  color: #222;
}

.fr-label-array .fr-label-title {
  font-size: 16px;
  color: #222;
}

.fr-desc {
  font-size: 12px;
  word-break: break-all;
  color: #888;
}

.fr-validate {
  margin-left: 12px;
  font-size: 12px;
  word-break: break-all;
  color: #f5222d;
}

.fr-field.fr-field-complex {
  margin-bottom: 0;
}

/* Row */

.fr-validate-row {
  margin: 3px 0 0 0;
}

.fr-label-row {
  text-align: right;
  flex-shrink: 0;
  margin-top: 5px;
}

.fr-field-row .fr-content {
  flex: 1;
  position: relative;
}

.fr-field-row .fr-tooltip-icon {
  margin: 3px 2px 0 0;
}

/* 自定义类 */
.hover-b--black-20:hover {
  border-color: rgba(0, 0, 0, 0.3);
}

.pt44 {
  padding-top: 46px;
}

.pv12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.fr-item-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 8px;
  height: 28px;
  font-size: 18px;
  display: flex;
  opacity: 0;
}

.fr-set:hover .fr-item-actions {
  opacity: 1;
}

.fr-item-action-icon {
  display: flex;
  align-items: center;
  width: 20px;
  margin-left: 8px;
  cursor: pointer;
  user-select: none;
}

.fr-move-icon:hover {
  cursor: move;
}

/* 组件内部样式*/

.fr-color-picker {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #666;
}

.fr-color-picker .rc-color-picker-trigger {
  margin-right: 12px;
  height: 30px;
  width: 60px;
  border: 1px solid #e5e5e5;
}

.fr-color-picker > p {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
}

.fr-color-picker .rc-color-picker-wrap {
  display: flex;
}

.next-input,
.next-number-picker {
  width: 100%;
}

.upload-img {
  max-width: 200px;
  max-height: 200px;
  margin-right: 24px;
}

.fr-preview-image {
  width: 160px;
}

.fr-preview {
  position: relative;
  cursor: pointer;
}

.fr-upload-mod,
.fr-upload-file {
  display: flex;
}
.fr-upload-mod {
  align-items: center;
}
.fr-upload-mod .fr-upload-preview {
  margin: 0 12px;
}
.fr-upload-file .ant-upload-list-item {
  margin: 5px 0 0 8px;
}
.fr-upload-file .ant-upload-list-item-name {
  margin-right: 6px;
}
.fr-upload-file .ant-upload-list-item-info {
  cursor: pointer;
}
.fr-upload-file .next-upload-list-text .next-upload-list-item-done,
.fr-upload-file .next-upload-list-text .next-upload-list-item .next-icon {
  height: 28px;
  line-height: 28px;
  margin-left: 12px;
}

.fr-upload-file .next-upload-list-item-name-wrap {
  margin-top: -4px;
}

.fr-sort-help-class {
  background: #fff;
}

/* 其他样式 */

.fold-icon.fold-icon-active {
  transform: rotate(0deg);
}

.fold-icon {
  transform: rotate(-90deg);
  transition: transform 0.24s;
  cursor: pointer;
  position: relative;
}

.fold-icon::after {
  content: '';
  position: absolute;
  top: -20px;
  right: -10px;
  bottom: -5px;
  left: -20px;
}

.fr-tooltip-toggle {
  cursor: pointer;
  position: relative;
}

.fr-tooltip-toggle:hover .fr-tooltip-container {
  opacity: 1;
  visibility: visible;
}

.fr-tooltip-icon {
  height: 14px;
  width: 14px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAEDklEQVR42u2bPUscURSG5y8kBEMgkCD5gFRpQtogduqqK1vZJVnxowssNoH4C7JVUrilxELYTtBOCLKksBGb2PkLtFLL5DywgUXO2buj587sTPbCwXFn7jnve2buzJl730lit/n5+bG5ubkVsaZsb8nfffl7JHYmdomxzW/s4xiOpQ99kyK2arX6RMDXxfbE/tzR8FHHZxGIfxSwuwCPZLvEGDriAqwqdgDIjIxY1dyJyzh9J0DagMrJ2mDI41J/LMFbacBKn+Mu4G+y/bk7XKYxtvmNfRzDsSkT0QJTVpd7Tex0AFBXkBGrC7GnaePQh774wNcA8cBUi03+6wBAfvMIm5mZeeAVF1/4xHcoPhhjke8EAp8LyI2pqal7SaSGb2IQK4Cl40s+PL6/VyqVl0lGjVjEDOHyutP/CARaT3JqxO6HDex3DbAYOPOrSc4NDIETtHgrx7Ozs28D5N8kQ9LA0g8rXFI5rNVq98XpL9+xFb9ZeOECpzSOWn2cjQ9rAsDWr1hKUd6a5Ccdy+jX4vM9xrZjEiYt/AOVzVReRuclR5AV8XnR4/+C3xyTu2S9OwTf6qznvPNYPVTiHHrGsOqEvm+RxivtuWORw9PllXWJss+zWDIqxgNzMsO49L94V3FWAryrScpmLQ5ctYP3tRebGLU9839KrKMY7w7aCxRcb56VZ8bZX4n4zN7pibUTKw4cNG5w7gXTUA66loMeJhEbYx6LGQMOcFH4NXqz9FObjU1K0rTZaTj/u/k94gc1QyVpcNE4wp2da9rOhYWF52VJAFw0jnDn8m8qO04yOCuf5AzsY2xnEO9EGQZNdmxpJWNkMMtKzGX3QOESf0t9/jM9HRnMtgJmO2ZMOGn1gFqUMEdPp2xqgPi1AA1OavHFyqxWKpYqAXapfwaYS2XHdNkSACcl5uUoAaMh8L/fBK3HYLkSYD8GzUKoPAkIF0JNbS2/hEPgWCuFzQkD1ufLkgC4mBM+SNH4R7F6WRIAF4PjmDVhgLVLkQB7/O+FMnSFMqPoCYADXPpe4YgQrTFS8ASY9zg43wS1a02LFzMB9rQ4XNMsjGzknwD/hRHHpTH/BMRfGst/cXRTibOZ3+Jo+JGBrTsmYELxP5GBeKp9V4HEqiPIF+LvA8Z2FqIpuDlIZBRxVDHEUq20YujTsoik4AKn1KLogExuvCDiKKzmII72Fk3FF0VhcHATSXuJp9zFULZ1RmJpWkai6XP0RPnK5cMiaWfxtP3BhKe6BF/KBxNe4uj0ImpFR6zZdXeipXEbrQF96IsPfIXigQlsznRtMbVZLNl2MuhHUxyb0ncLTKPP5kYfTg7Bp7Oq4NLJ8E2MZAibJrxsIEVzII2PBj6TIrauDG8t7efz9KFvbHx/AcNTQFg55SpYAAAAAElFTkSuQmCC');
  background-size: cover;
  display: block;
  margin: 4px 0 0 4px;
}

.fr-tooltip-container {
  position: absolute;
  width: 160px;
  left: 50%;
  white-space: initial !important;
  bottom: 30px;
  text-align: center;
  background: #2b222a;
  padding: 4px;
  margin-left: -78px;
  border-radius: 4px;
  color: #efefef;
  font-size: 13px;
  cursor: auto;
  z-index: 99999;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  word-wrap: break-word;
}

.fr-tooltip-triangle {
  position: absolute;
  left: 50%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2b222a;
  transition: all 0.5s ease;
  content: ' ';
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
  bottom: -5px;
}

.fr-tooltip-toggle::before,
.fr-tooltip-toggle::after {
  color: #efefef;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

.fr-tooltip-toggle:focus::before,
.fr-tooltip-toggle:focus::after,
.fr-tooltip-toggle:hover::before,
.fr-tooltip-toggle:hover::after {
  opacity: 1;
  transition: all 0.75s ease;
}

.fr-slider {
  display: flex;
  width: 100%;
  align-items: center;
}

.fr-map {
  display: flex;
  flex-wrap: wrap;
}

/* 覆盖 antd 的样式 */

.fr-wrapper .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.fr-wrapper .ant-checkbox-wrapper {
  margin-right: 8px;
}

.fr-wrapper .next-checkbox-wrapper + .next-checkbox-wrapper {
  margin-left: 0;
}

.fr-wrapper .next-checkbox-wrapper {
  margin: 4px 8px 4px 0;
}
