.fr-list-card {
  
  .fr-list-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    // margin-bottom: 24px;
    
    // border: 1px solid #f1f1f1;
    // border-radius: 4px;
    // padding: 24px;
  }

  .fr-list-item-operate {
    padding: 0 20px;
    height: 32px;
  }

  .fr-list-item-operate-fixed {
    position: absolute;
    right: 0px;
    top: 15px;
  }
}