.playground-controller .fr-field {
  margin-bottom: 4px;
}

.playground-controller {
  margin-bottom: 1px;
  background-color: #fff;
  padding: 12px 30px 6px 30px;
  border-radius: 3px;
}

.playground-controller .fr-inline-field {
  margin-right: 60px !important;
}