.tr-search {
  width: 100%;
  background: #fff;
  padding: 24px 12px 0 12px;
  border: 1px solid #eee;
  margin-bottom: 16px;
}

.tr-table-wrapper {
  background: #fff;
  padding: 0 24px;
  width: 100%;
}

.tr-table-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.tr-table-top-nohead {
  height: 24px;
}

.tr-action-list {
  display: flex;
  justify-content: center;
}

.tr-single-tab {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.85;
}

.tr-extra-tab {
  display: inline-block;
  margin-left: 16px;
}

.tr-search-btn.fr-field {
  padding-right: 0;
}

.mb2 {
  margin-bottom: 0.5rem;
}

.mr {
  margin-right: 8px;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}


.ant-pro-table-column-setting {
  width: auto;
}

.ant-pro-table-column-setting-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
}

.ant-pro-table-column-setting-overlay .ant-popover-inner-content {
  padding: 0px;
  padding-bottom: 8px;
}

.ant-pro-table-column-setting-overlay .ant-tree-treenode {
  align-items: center;
}

.ant-pro-table-column-setting-overlay .ant-tree-treenode:hover {
  background-color: #e8f4ff;
}

.ant-pro-table-column-setting-overlay .ant-tree-treenode:hover .ant-pro-table-column-setting-list-item-option {
  display: block;
}

.ant-pro-table-column-setting-overlay .ant-tree-treenode .ant-tree-checkbox {
  top: 0;
  margin: 0;
  margin-right: 4px;
}

.ant-pro-table-column-setting-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8px;
  padding-left: 16px;
}

.ant-pro-table-column-setting-list.ant-pro-table-column-setting-list-group {
  padding-top: 0;
}

.ant-pro-table-column-setting-list-title {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 24px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}

.ant-pro-table-column-setting-list-item {
  display: flex;
  align-items: center;
}

.ant-pro-table-column-setting-list-item-title {
  flex: 1;
}

.ant-pro-table-column-setting-list-item-option {
  display: none;
  float: right;
  cursor: pointer;
}

.ant-pro-table-column-setting-list-item-option > span > span.anticon {
  color: #1890ff;
}

.ant-pro-table-column-setting-list-item-option > span + span {
  margin-left: 8px;
}
