.tr-search {
  width: 100%;
  background: #fff;
  padding: 24px 12px 0 12px;
  border: 1px solid #eee;
  margin-bottom: 16px;
}
.tr-search .search-btn {
  flex: 1;
}

.tr-table-wrapper {
  background: #fff;
  padding: 0 24px;
  width: 100%;
  overflow: auto;
}

.tr-table-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.tr-table-top-nohead {
  height: 24px;
}

.tr-action-list {
  display: flex;
  justify-content: center;
}

.tr-single-tab {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.85;
}

.tr-extra-tab {
  display: inline-block;
  margin-left: 16px;
}

.tr-search-btn.fr-field {
  padding-right: 0;
}

.mb2 {
  margin-bottom: 0.5rem;
}

.mr {
  margin-right: 8px;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}
