{
  "extends": "eslint-config-ali/es6",
  "parser": "babel-eslint",
  "globals": {},
  "rules": {
    "no-case-declarations": 0,
    "no-eval": 0,
    "no-console": 0,
    "no-param-reassign": 0
  }
}
