.tr-search {
  width: 100%;
  background: #fff;
  padding: 24px 24px 0;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.tr-search .search-action-col {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 24px;
}